<div class="customer">
   
  <div class="firstdiv">
    <h3>Customer</h3>
    <div class="nameAndButton">
      <div class="namediv">
              <label>Name:</label>        
        <input
          type="text"
          placeholder="Search by First Name"
          class="form-control"
          [(ngModel)]="searchTerm"
        />
         
      </div>
      <div class="button">
        <button type="btn" (click)="addCustomer()" class="btn btn-default">
          Add New Customer
        </button>
      </div>
    </div>
     
  </div>

     
  <!--div class="table-responsive">
         
    <table class="table">
             
      <tr style="background-color: white; font-size: 12pt">
        <th style="text-align: center"></th>
                 
        <th style="text-align: center">FirstName</th>
                 
        <th style="text-align: center">Last Name</th>
                 
        <th style="text-align: center">Address</th>
                 
        <th style="text-align: center">City</th>
                 
        <th style="text-align: center">State</th>
                 
        <th style="text-align: left">Order Total</th>
               
      </tr>
             
      <tr
        *ngFor="let data of customers | customerFilter: searchTerm"
        style="background-color: white"
      >
        <td><img [src]="imageSrc" /></td>
                 
        <td>{{ data.firstName }}</td>
                 
        <td>{{ data.lastName }}</td>
                 
        <td>{{ data.address }}</td>
                 
        <td>{{ data.city }}</td>
                 
        <td>{{ data.state }}</td>
        <td>{{ data.orderTotal }}</td>
                 
      </tr>
           
    </table>
       
  </div!-->
  <div class="secondDiv">
    <div class="container">
      <div class="row header">
        <div class="col-sm-2">First Name</div>
        <div class="col-sm-2">Last Name</div>
        <div class="col-sm-2">Address</div>
        <div class="col-sm-2">City</div>
        <div class="col-sm-2">State</div>
        <div class="col-sm-2">OrderTotal</div>
      </div>

      <div
        class="row data"
        *ngFor="let data of customers | customerFilter: searchTerm"
      >
        <div class="col-sm-2">{{ data.firstName }}</div>
        <div class="col-sm-2">{{ data.lastName }}</div>
        <div class="col-sm-2">{{ data.address }}</div>
        <div class="col-sm-2">{{ data.city }}</div>
        <div class="col-sm-2">{{ data.state }}</div>
        <div class="col-sm-2">{{ data.orderTotal }}</div>
      </div>
    </div>
     
  </div>
</div>
