.customer {
  width: 100%;
}
.firstdiv {
}

.nameAndButton {
  display: inline-flex;
  width: 80%;
  justify-content: space-around;
}
.namediv {
  display: flex;
  width: 50%;
  justify-content: stretch;
  font-size: medium;
}
label {
  width: 10%;
  text-align: right;
  margin: auto;
}
.button {
  width: 15%;
  justify-content: right;
}
button {
  width: 100%;
}
h3 {
  max-height: 30px;
}
input {
  width: 80%;
  padding-right: 10px;
  padding-left: 0;
}

.container {
}
.header {
  height: 50px;
  font-weight: 700;
  background-color: rgb(250, 248, 248);
}
.data {
  border-style:double;
  border-width: thin;
  height: 50px;
}
.heading{
  border-style:solid;
  border-width: thin;
  background-color: rgb(156, 154, 154);
}
.data:nth-child(odd) {
  background-color: #e0e4e4;
}
.img {
  height: 50px;
  width: 50px;
  align-self: auto;
}

input.ng-invalid {
  border-left: 5px solid red;
}

input.ng-valid {
  border-left: 5px solid green;
}

td,th{text-align: center;}

.submitAndClose,.deleteAndClose{display:inline-flex;width:100%}
.submit,.closeDiv,.delete,.cancelDiv{width:50%;}
.radioDiv{display:inline-flex;width:80%;justify-content: space-evenly;}
.genLabel{width:33%}
.btnData{text-align: center;padding:1%;justify-content: center;margin:auto}
.deletebtn{width: 30%;margin:auto;padding:1%}







 


